<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

    <title>About</title>
</head>

<body>
    <div class="main-content">
     {{>header}}
    <img class="portrait" src="/img/image.jpg" height="250" alt="una imagen de munecos de plastilina de 3 colores"></img>
    <p>Created by {{name}}</p>
    </div>
    {{>footer}}
</body>

</html>